<li>
    <a href="<%- raid.url %>" class="<%- isCurrent ? 'current' : '' %>">
        <div class="row">
            <div class="col-xs-5 col-md-12 name">
                <span class="event <%- raid.class%>"></span>
                <%- raid.title %>
                <% if (raid.isAffirmed) { %>
                    <span class="glyphicon glyphicon-ok-sign affirmed" title="<%- Translator.translate("calendar.raidListItem.signupAffirmed") %>"
                          data-toggle="tooltip" data-placement="right"></span>
                <% } else if (raid.isSignedUp) { %>
                    <span class="glyphicon glyphicon-plus-sign signedUp" title="<%- Translator.translate("calendar.raidListItem.signedUp") %>"
                          data-toggle="tooltip" data-placement="right"></span>
                <% } %>
            </div>
            <div class="col-xs-7 col-md-12 time">
                <%- moment(raid.start).format("L LT") %>
            </div>
        </div>
    </a>
</li>