<li class="active">
    <a class="no-hover">
        <span class="badge pull-right <%- alertClass %>">
            <%- affirmedAmount %> / <%- amountToGet %>
        </span>
        <%- roleName %>
    </a>
    <ul class="nav nav-pills nav-stacked characterList" data-role-id="<%- roleId %>"></ul>
</li>