<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><%- Translator.translate("raid.itemTab.allEvents") %></div>
            <div class="panel-body">
                <% if (_.size(items) === 0) { %>
                    <%- Translator.translate("raid.itemTab.noItemsYet") %>
                <% } else { %>
                    <table class="table table-striped table-condensed table-hover">
                        <tbody>
                            <% _.each(items, function (item) { %>
                                <tr>
                                    <td><%- item.name %></td>
                                    <td>
                                        <ul class="list-group list-group-mini">
                                            <% _.each(item.users, function (user) { %>
                                                <li class="list-group-item">
                                                    <span class="badge"><%- user.amount %></span>
                                                    <%- user.name %>
                                                </li>
                                            <% }); %>
                                        </ul>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } %>
            </div>
        </div>
    </div>
</div>
