<div class="modal-dialog">
    <div class="modal-content">
        <form id="sendresetmail" role="form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%- Translator.translate("sendPasswordReset.resetPassword") %></h4>
            </div>
            <div class="modal-body">
                <%- Translator.translate("sendPasswordReset.emailWillBeSent") %>
                <div class="input-group form-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="email" id="sendresetmailemail" name="email" class="form-control required" placeholder="<%- Translator.translate("sendPasswordReset.email") %>"
                           data-toggle="popover" data-content="<%- Translator.translate("sendPasswordReset.email.description") %>" data-trigger="focus" data-container=".dkp_modal"/>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-lg btn-block" id="sendresetmailbutton" value="<%- Translator.translate("sendPasswordReset.submit") %>"/>
            </div>
        </form>
    </div>
</div>