<div class="row">
    <div class="userDetailTable col-xs-12 user-<%- userId %>">
        <table class="table table-striped table-hover table-condensed">
            <caption><%- userName %></caption>
            <thead>
            <tr>
                <th><%- Translator.translate("userOverview.userDetailTable.date") %></th>
                <th><%- Translator.translate("userOverview.userDetailTable.event") %></th>
                <th><%- Translator.translate("userOverview.userDetailTable.role") %></th>
                <th><%- Translator.translate("userOverview.userDetailTable.item") %></th>
                <th class="text-right"><%- Translator.translate("userOverview.userDetailTable.change") %></th>
                <th class="text-right"><%- Translator.translate("userOverview.userDetailTable.sum") %></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
