<!DOCTYPE html>
<html>
    <head>
        <title><%- translate("email.passwordReset.title") %></title>
    </head>
    <body>
        <%- translate("email.passwordReset.helloLine, name") %>

        <p>
            <%- translate("email.passwordReset.clickHere") %>
            <a href="<%- resetUrl %>"><%- resetUrl %></a>
        </p>
    </body>
</html>