<table class="table table-condensed table-hover tablesorter">
    <thead>
        <th><%- Translator.translate("users.tableDefinition.login") %></th>
        <th><%- Translator.translate("users.tableDefinition.characters") %></th>
        <th><%- Translator.translate("users.tableDefinition.email") %></th>
        <th><%- Translator.translate("users.tableDefinition.isAdmin") %></th>
        <th><%- Translator.translate("users.tableDefinition.isBanned") %></th>
    </thead>
    <tbody></tbody>
</table>